<div class="side-padder">

  <p class="header-font">
    <strong><%= I18n.t('mailers.greetings', name: @user.name) %></strong>
  </p>

  <p class="text-font">
    <p style="margin:20px 0;">
      Recebemos uma solicitação para recuperação de sua senha de acesso. Caso não tenha feito essa solicitação, por favor, apenas ignore este email.
    </p>

    <p style="margin:20px 0;">
      Utilize a senha a seguir para acessar seu aplicativo</strong>.
    </p>

    <p class="temporary-password" style="">
      <%= @user.temporary_password %>
    </p>

    <p style="margin:20px 0;">
      Após acessar o aplicativo utilizando sua nova senha, <strong style="font-size:17px;">recomendamos fortemente</strong> que altere sua senha nas configurações ou peça a um adimistrador para fazer essa alteração.
    </p>
  </p>
</div>
